{% extends 'seller-header.html' %}
<!-- FOR LOADING THE STATIC FOLDER -->
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    

</head>

<body>
    
        <!-- ****** Checkout Area Start ****** -->
        <div class="checkout_area section_padding_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-page-heading">
                                <h5>Change Password</h5>
                                {% if msg %}
                                    <b style="color: red;">{{msg}}</b>
                                {% endif %}
                                
                            </div>

                            <form action="{% url 'change-password' %}" method="post" >
                                <div class="row">
                                    {% csrf_token %}
                                    
                                    
                                    <div class="col-12 mb-3">
                                        <label for="old_password">Old Password</label>
                                        <input type="text" class="form-control mb-3" id="old_password" name="old_password" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="new_password">New Password</label>
                                        <input type="password" class="form-control mb-3" id="new_password" name="new_password" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="cnew_password">Confirm New Password</label>
                                        <input type="password" class="form-control mb-3" id="cnew_password" name="cnew_password" value="">
                                    </div>
                                    
                                    <div class="col-12 mb-3">
                                        <input type="submit" class="btn btn-primary" value="Change Password">
                                    </div>

                                    

                                    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


</body>

</html>

{% endblock %}